<!DOCTYPE html>
<html>
<head>
    <title>LAB 11: Intro to MVC & Core</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />

</head>

<body>

<h1>Hello Testing</h1>
<p>This is the index view</p>

<form method="post">
    <label name="FirstInput">Year From</label>
    <input type="date" name="FirstInput"/>

    <label name="SecondInput">Year To</label>
    <input type="date" name="SecondInput" />

    <button type="submit">Submit</button>
   
</form>

</body>


</html>

