<!DOCTYPE html>
<html>
<head>
    <title>LAB 11: Intro to MVC & Core</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />

</head>

<body>

<h1>TIME PERSON OF THE YEAR</h1>
<p>Please indicate the years to display the TIME PERSON OF
    THE YEAR winners.</p>

<form method="post">
    <label name="yearFrom">Year From</label>
    <input type="date" name="yearFrom"/>

    <label name="yearTo">Year To</label>
    <input type="date" name="yearTo"/>

    <button type="submit">Submit</button>
   
</form>

</body>


</html>

